@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="conversations col-3">
            Conversations
        </div>
        <div class="messages col-8">
            Responses
        </div>
    </div>
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
</div>